
.review-box {
    margin-bottom: 25px;
    width: 100%;
    box-shadow: 0 0 15px rgba(92, 99, 105, 0.15);
    border-radius: 15px;
    padding: 15px 25px;
}

.gray-star {
    color: #b9b9b9;
    font-size: 20px !important;
}

.yellow-star {
    color: #ffd528;
    font-size: 20px !important;
}

.text {
    padding: 0;
    margin: 0;
    word-wrap: break-word;
}

.date {
    color: gray;
    margin: 0 30px;
    padding: 0;
    font-size: 14px;
}

.comment {
    color: gray;
}

.review-service {
    font-weight: bold;
    color: #7c7cfd;
}

.review-service:hover {
    color: #585bfa;
}